@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  background: var(--p-content-background, #111);
  color: var(--p-text-color, #eee);
  overflow: hidden;
  user-select: none;
}

.library-table .p-datatable-tbody > tr > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
